body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #87cefa;
    color: #fff;
    padding: 5px;
    text-align: center;
}
nav {
    background-color: #00bfff;
    color: #333;
    padding: 10px;
    text-align: left;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
    text-align: center;
}

main a {
    color: #333;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.button {
    -webkit-transition-duration: 0.6s;
    transition: 0.6s;
    border-radius: 10px;
    background-color: #6495ed;
    border: none;
    color: #ffffff;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #f0ffff;
    color: #333;
}